body {
    background-image: url(/static/img/background_1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}

.box {
    border: 1px solid black;
}

.visual {
    min-height: 200px;
    margin-bottom: 16px;
}

.wrapper {
    min-height: 89vh;
    background-color: none;
}

footer {
    min-height: 10vh;
    background-color: honeydew;
    border: 1px dotted black;
}

header {
    background-color: none;
    border: 1px dotted black;
    font-size: 64px;
}

.header_text {
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: black;
    text-decoration: none;
    font-size: 64px;
    font-weight: bold;
    text-shadow: -5px 5px 3px grey;
    width: 600px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.base_color {
    background-color: mintcream;
    opacity: 0.7;
}

.left_column {
    width: fit-content;
    margin: 0vh 1vh 1vh 0vh;
    opacity: 0.7;
}

.right_column {
    width: 111em;
    margin: 0vh 0vh 1vh 0vh;
    opacity: 0.7;
}

.full-height {
    min-height: fit-content;
}

.column_text {
    padding: 25px;
    font-size: 20px;
    font-family: math;
    text-align: justify;
}

.column_list {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

context {
    flex-direction: row;
    min-height: 55vh;
    margin: 1vh auto;
}

.center {
    margin: 0 auto;
}

/* Main menu */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
    list-style: none;
    margin: 20px 0px;
    text-align: center;
    background: initial;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
  content: "|";
  color: black;
  display: inline-block;
  vertical-align:top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu-main a, .menu-main a:visited {color: black;}

.menu-main a.current, .menu-main a:hover{color: navy;}

.menu-main a:before,

.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: navy;
  transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}

.menu-main a:hover:after, .menu-main .current:after {right: 0;}

@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}


/* Title button*/
