
.container {
	width: 1366px;
	margin: 0 auto;
	min-height: 100%;
}

.box {
    border: 1px solid black;
}

.visual {
    min-width: 200px;
    margin-bottom: 16px;
}

.wrapper {
    min-height: 89vh;
    background-color: aquamarine;
}

footer {
    min-height: 10vh;
    background-color: honeydew;
    border: 1px dotted black;
}

header {
    background-color: honeydew;
    border: 1px dotted black;
    font-size: 64px;
}


.header_text {
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: black;
    text-decoration: none;
    font-size: 64px;
    font-weight: bold;
    text-shadow: -5px 5px 3px grey;
    width: 600px;
}

.flex {
    display: flex;
}

.left_column {
    width: 20%;
    margin: 1vh 1vh 1vh 0vh;

}

.right_column {
    width: 80%;
    margin: 1vh 0vh 1vh 0vh;
}

.full-height {
    height: 75vh;
}

context {
    display: flex;
    flex-direction: row;
    min-height: 55vh;
    margin: 1vh auto;
}

.center {
    margin: 0 auto;
}

/* Main menu */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 20px 0px;
  text-align: center;
  background: initial;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: black;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: black;}
.menu-main a.current, .menu-main a:hover{color: navy;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: navy;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}